services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - ENV=production
      - SERVER_ADDRESS=:8080
      - DATABASE_URL=postgres://postgres:postgres@db:5432/medicalka?sslmode=disable
      - JWT_SECRET=your-secure-secret-key-change-in-production
      - LIMITER_RPS=2
      - LIMITER_BURST=4
      - LIMITER_ENABLED=true
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USERNAME=
      - SMTP_PASSWORD=
      - SMTP_FROM=noreply@example.com
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=medicalka
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
  